@import url(@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800;900&display=swap'));

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{

	background-image: url(mountain.jpg);
	background-repeat: no-repeat;
	background-size:cover;

	overflow-y: hidden;

}



/* body content */

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.Slides {
  display: none;
}

img{
margin-top: -4%;
margin-left: 17%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 100%
  margin-top: -10%;
  padding: 5%;

  color: white;
  font-weight: bold;

  font-size: 58px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
 	margin-top: -10%;

  width: 100%;
  text-align: right;
  padding-right: 5%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 32px;
  padding: 3% 5%;

  top: 0;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

